.div-relative {
	position: relative;
	color: #000;
	/*border: 1px solid #000;*/
	width: 100%;
	height: auto;
	background: #212ACC;
}
.div-a {/* 背景为红色 */
	position: absolute;
	top: 70px;
	width: 100%;
	height: 1000px
}
.div-b {/* 背景为黄色 */
	position: absolute;
	top: 0px;
	background: #FF0;
	width: 100%;
	height: 70px
}

/*.div-c {
	position: absolute;
	top: 80px;
	background: #00F;
	width: 300px;
	height: 300px
} */
/* DIV背景颜色为蓝色 */
.div-relative {
	position: relative;
	color: #000;
	/*border: 1px solid #000;*/
	width: 100%;
	height: auto;
	background: #212ACC;
}
.div-a {/* 背景为红色 */
	position: absolute;
	top: 70px;
	width: 100%;
	height: 1000px
}
.div-b {/* 背景为黄色 */
	position: absolute;
	top: 0px;
	background: #FF0;
	width: 100%;
	height: 70px
}

/*.div-c {
	position: absolute;
	top: 80px;
	background: #00F;
	width: 300px;
	height: 300px
} */
/* DIV背景颜色为蓝色 */
.div-relative {
	position: relative;
	color: #000;
	/*border: 1px solid #000;*/
	width: 100%;
	height: auto;
	background: #212ACC;
}
.div-a {/* 背景为红色 */
	position: absolute;
	top: 70px;
	width: 100%;
	height: 1000px
}
.div-b {/* 背景为黄色 */
	position: absolute;
	top: 0px;
	background: #FF0;
	width: 100%;
	height: 70px
}

/*.div-c {
	position: absolute;
	top: 80px;
	background: #00F;
	width: 300px;
	height: 300px
} */
/* DIV背景颜色为蓝色 */
.div-relative {
	position: relative;
	color: #000;
	/*border: 1px solid #000;*/
	width: 100%;
	height: auto;
	background: #212ACC;
}
.div-a {/* 背景为红色 */
	position: absolute;
	top: 70px;
	width: 100%;
	height: 1000px
}
.div-b {/* 背景为黄色 */
	position: absolute;
	top: 0px;
	background: #FF0;
	width: 100%;
	height: 70px
}

/*.div-c {
	position: absolute;
	top: 80px;
	background: #00F;
	width: 300px;
	height: 300px
} */
/* DIV背景颜色为蓝色 */
.div-relative {
	position: relative;
	color: #000;
	/*border: 1px solid #000;*/
	width: 100%;
	height: auto;
	background: #212ACC;
}
.div-a {/* 背景为红色 */
	position: absolute;
	top: 70px;
	width: 100%;
	height: 1000px
}
.div-b {/* 背景为黄色 */
	position: absolute;
	top: 0px;
	background: #FF0;
	width: 100%;
	height: 70px
}

/*.div-c {
	position: absolute;
	top: 80px;
	background: #00F;
	width: 300px;
	height: 300px
} */
/* DIV背景颜色为蓝色 */
.div-relative {
	position: relative;
	color: #000;
	/*border: 1px solid #000;*/
	width: 100%;
	height: auto;
	background: #212ACC;
}
.div-a {/* 背景为红色 */
	position: absolute;
	top: 70px;
	width: 100%;
	height: 1000px
}
.div-b {/* 背景为黄色 */
	position: absolute;
	top: 0px;
	background: #FF0;
	width: 100%;
	height: 70px
}

/*.div-c {
	position: absolute;
	top: 80px;
	background: #00F;
	width: 300px;
	height: 300px
} */
/* DIV背景颜色为蓝色 */
.div-relative {
	position: relative;
	color: #000;
	/*border: 1px solid #000;*/
	width: 100%;
	height: auto;
	background: #212ACC;
}
.div-a {/* 背景为红色 */
	position: absolute;
	top: 70px;
	width: 100%;
	height: 1000px
}
.div-b {/* 背景为黄色 */
	position: absolute;
	top: 0px;
	background: #FF0;
	width: 100%;
	height: 70px
}

/*.div-c {
	position: absolute;
	top: 80px;
	background: #00F;
	width: 300px;
	height: 300px
} */
/* DIV背景颜色为蓝色 */
.div-relative {
	position: relative;
	color: #000;
	/*border: 1px solid #000;*/
	width: 100%;
	height: auto;
	background: #212ACC;
}
.div-a {/* 背景为红色 */
	position: absolute;
	top: 70px;
	width: 100%;
	height: 1000px
}
.div-b {/* 背景为黄色 */
	position: absolute;
	top: 0px;
	background: #FF0;
	width: 100%;
	height: 70px
}

/*.div-c {
	position: absolute;
	top: 80px;
	background: #00F;
	width: 300px;
	height: 300px
} */
/* DIV背景颜色为蓝色 */
.div-relative {
	position: relative;
	color: #000;
	/*border: 1px solid #000;*/
	width: 100%;
	height: auto;
	background: #212ACC;
}
.div-a {/* 背景为红色 */
	position: absolute;
	top: 70px;
	width: 100%;
	height: 1000px
}
.div-b {/* 背景为黄色 */
	position: absolute;
	top: 0px;
	background: #FF0;
	width: 100%;
	height: 70px
}

/*.div-c {
	position: absolute;
	top: 80px;
	background: #00F;
	width: 300px;
	height: 300px
} */
/* DIV背景颜色为蓝色 */
.div-relative {
	position: relative;
	color: #000;
	/*border: 1px solid #000;*/
	width: 100%;
	height: auto;
	background: #212ACC;
}
.div-a {/* 背景为红色 */
	position: absolute;
	top: 70px;
	width: 100%;
	height: 1000px
}
.div-b {/* 背景为黄色 */
	position: absolute;
	top: 0px;
	background: #FF0;
	width: 100%;
	height: 70px
}

/*.div-c {
	position: absolute;
	top: 80px;
	background: #00F;
	width: 300px;
	height: 300px
} */
/* DIV背景颜色为蓝色 */
.div-relative {
	position: relative;
	color: #000;
	/*border: 1px solid #000;*/
	width: 100%;
	height: auto;
	background: #212ACC;
}
.div-a {/* 背景为红色 */
	position: absolute;
	top: 70px;
	width: 100%;
	height: 1000px
}
.div-b {/* 背景为黄色 */
	position: absolute;
	top: 0px;
	background: #FF0;
	width: 100%;
	height: 70px
}

/*.div-c {
	position: absolute;
	top: 80px;
	background: #00F;
	width: 300px;
	height: 300px
} */
/* DIV背景颜色为蓝色 */
.div-relative {
	position: relative;
	color: #000;
	/*border: 1px solid #000;*/
	width: 100%;
	height: auto;
	background: #212ACC;
}
.div-a {/* 背景为红色 */
	position: absolute;
	top: 70px;
	width: 100%;
	height: 1000px
}
.div-b {/* 背景为黄色 */
	position: absolute;
	top: 0px;
	background: #FF0;
	width: 100%;
	height: 70px
}

/*.div-c {
	position: absolute;
	top: 80px;
	background: #00F;
	width: 300px;
	height: 300px
} */
/* DIV背景颜色为蓝色 */
.index_jianjie {
	width: 100%;
	height: auto;
	background: #000000;
	opacity: 0.90;
}
.title {
	width: 100%;
	height: 45px;
	text-align: center;
	background: #F5F5F5;
}
.jianjie_box {
	width: 100%;
	height: 100px;
	background: #F5F5F5;
}
.p_title {
	font-size: 25px;
	line-height: 45px;
}
.p_jianjie_box {
	font-size: 14px;
	size: small;
	text-indent:2em;
	padding-left: 12px;
	padding-right: 12px;
	word-wrap: break-word;
	word-break: break-all;
	overflow: hidden;
}
.jianjie_img_box {
	width: 100%;
	height: auto;
	margin-top: 5px;
	text-align: center;
	background: #F5F5F5;
}
.jianjie_img {
	width: 80%;
}
/***********************************/
/***********************************/
.jianjie_1 {
	width: 33.33%;
	height: auto;
	float: left;
}
.jianjie_1_1 {
	width: 80%;
	height: auto;
	margin: 0 auto;
	background: #F5F5F5;
}
/************************/


.jianjie_2 {
	width: 33.33%;
	height: auto;
	float: left;
}
.jianjie_2_1 {
	width: 80%;
	height: auto;
	margin: 0 auto;
	background: #F5F5F5;
}
/************************/

.jianjie_3 {
	width: 33.33%;
	height: auto;
	float: left;
}
.jianjie_3_1 {
	width: 80%;
	height: auto;
	margin: 0 auto;
	background: #F5F5F5;
}
/*==========================================*/

/*=============foot=======foot=====foot=================*/

.foot {
	width: 100%;
	margin: 0 auto;
}
.foot_box {
	margin-top: 50px;
	text-align: center;
}
.foot_margin_top {
	color: #222222;
	background: #222222;
}
.foot_title {
	font-size: 25px;
	color: #2EBFAF;
	background: #222222;
}
.foot_img {
	background: #222222;
}
.foot_gzh {
	font-size: 16px;
	color: #2EBFAF;
	background: #222222;
}

/*==========================================*/

/*=============JS=======JS=====JS=================*/

.black_overlay{ 
            display: none; 
            position: absolute; 
            top: 0%; 
            left: 0%; 
            width: 100%; 
            height: 158.5%; 
            background-color: black; 
            z-index:1001; 
            -moz-opacity: 0.8; 
            opacity:.80; 
            filter: alpha(opacity=88); 
        } 
        .white_content { 
            display: none; 
            position: absolute; 
            top: 95%; 
            left: 45%; 
            width: auto;
            height: auto; 
            padding: 10px; 
			text-align: center;
            border: 1px solid orange; 
            background-color: white; 
            z-index:1002; 
            overflow: auto; 
        } 
